body {
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	position: relative;
	color: white;
}

#menu-bar, #footer {
	background-image: url('img/LWP64385W.jpeg');
	background-repeat: repeat-x;
	text-align: center;
}

#footer p {
	padding-top: 20px;
	padding-bottom: 20px;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	font-weight: 300;
	padding-top: 30px;
	padding-bottom: 50px;
}

#menu-bar li, #shopping-field li {
	display: inline;
}

#menu-bar img {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.results-container {
	text-align: center;
}

.results {
	color: black;
	display: inline-block;
	padding: 10px 25px;
	vertical-align: center;
}

#shopping-field {
	background-color: #5bc1af;
	text-align: center;
}

#shopping-field ul {
	padding-top: 200px;
	padding-bottom: 20px;
}

#instructions {
	width: 40%;
	font-size: 1.25em;
}

#input-field, input[type='text'] {
	display: inline-block;
	font-size: 1.15em;
	color: #595959;
	padding: 5px;
	background: #fff;
	border: 1px solid #c6c9cc;
	border-radius: 5px;
	box-shadow: 0 1px 1px #bfbfbf;
	vertical-align: middle;
}

#input-field {
	width: 30%;
}

input[type='text'] {
	width: 25%
}

.basket-controls {
	display: inline-block;
	vertical-align: middle;
}

#add-item {
	background: url('img/shopping-cart.svg');
	background-size: contain;
	height: 40px;
	width: 40px;
}

#clear-field {
	background: url('img/trash-can.svg');
	background-size: contain;
	height: 30px;
	width: 30px;
	margin-bottom: 5px;
}

#input-field, .click-basket {
	margin-left: 5px;
}

.address_bar {
	text-align: center;
	padding: 10px;
	background-image: url('img/LWP64385W.jpeg');
	background-repeat: repeat-x;
}

.bag-item {
	padding: 10px;
	background-image: url('img/paper-bag-background.jpg');
	background-repeat: repeat-x;
	text-align: center;
}

.bag-item p {
	display: inline-block;
	border: 2px dotted white;
	border-radius: 5px;
	padding: 10px 15%;
	vertical-align: middle;
}

.bag-item p:hover {
	border: 3px dotted yellow;
	color: yellow;
	font-size: 1.25em;
}

.bag-item a {
	margin-left: 10px;
}



